.vines {
    position: absolute;
    top: 50%;
    left: -120px;
    transform: translateY(-50%);
    width: 400px;
    height: 400px;
    opacity: 0.2;
    z-index: -1;
}

.vines img {
    width: 100%;
    height: 100%;
}

.vinesTwo {
    position: absolute;
    top: 80px;
    right: -120px;
    width: 400px;
    height: 400px;
    opacity: 0.2;
    z-index: -1;
}

.vinesTwo img {
    width: 100%;
    height: 100%;
}

.vinesThree {
    position: absolute;
    top: 80px;
    right: -120px;
    width: 400px;
    height: 400px;
    opacity: 0.2;
    z-index: -1;
}

.vinesThree img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 780px) {
    .vines {
        transform: scale(0.8);
    }
    .vinesOne {
        transform: scale(0.8);
    }
    .vinesTwo {
        transform: scale(0.8);
    }
}