.vines {
    position: absolute;
    top: 50%;
    left: -120px;
    transform: translateY(-50%);
    width: 400px;
    height: 400px;
    opacity: 0.3;
    z-index: -1;
}

.vines img {
    width: 100%;
    height: 100%;
}
.vinesTwo {
    position: absolute;
    top: 80px;
    right: -120px;
    width: 400px;
    height: 400px;
    opacity: 0.3;
    z-index: -1;
}

.vinesTwo img {
    width: 100%;
    height: 100%;
}