.heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4rem 0;
}

.heading span {
  position: relative;
  margin: 0 auto;
  font-family: "Lora", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.heading span::before,
.heading span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -52px;
  width: 32px;
  height: 1px;
  background-color: #beaa82;
}

.heading span::after {
  left: unset;
  right: -52px;
}
