.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    height: 80px;
    padding: 0 20px;
    background-color: #ffffffc5;
    z-index: 1000;
}

.header .logo {
    height: 40px;
}

.header .logo img {
    height: 100%;
}

.header nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header nav ul {
    position: relative;
    display: flex;
    margin-right: 40px;
}

.header nav ul:hover > .active::before {
    opacity: 0;
    transform: translateY(4px);
}

.header nav ul li {
    position: relative;
    margin-right: 2rem;
    font-size: 15px;
    font-weight: 600;
}

.header nav ul li:nth-last-child(1) {
    margin-right: 0;
}

.header ul li::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    bottom: -12px;
    left: 50%;
    background-color: #beaa82;
    border-radius: 100%;
    transform: translateX(-50%) translateY(4px);
    opacity: 0;
    transition: .2s ease-in-out;
}

.header ul li:hover::after {
    transform: translateX(-50%) translateY(0px);
    opacity: 1;
}

.active {
    position: relative;
}

.active:hover::after {
    opacity: 0 !important;
}

.active::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #beaa82;
    border-radius: 100%;
    transition: .2s ease-in-out;
}

.footer {
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 1px solid #beaa82;
}

.footer p {
    color: #999;
}