.scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 3px;
}

.scrollbarInner {
    width: 100%;
    height: 0;
    background-color: #beaa82;
}

@media (max-width: 720px) {
    .scrollbar {
        display: none;
    }
}